body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./image/8aCQkW.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    color: rgb(7, 7, 7);
    font-size: 20px;
    background-color: #09db13;
    padding: 10px;
    border-radius: 5px;
}
h2{
    /* margin-bottom: 80px; */
    background-color: #f8f304;
    padding: 20px;
    color: rgb(14, 13, 13);
}
marquee img{
    width: 400px;
    
    height: 400px;
}

.board{
    width: 320px;
    height: 320px;
    
    /* background-color: aquamarine; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.board .cell{
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgb(241, 247, 241);
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
}

.cell.highlight{
    background-color: #f8f304;
}
.cell.inactive{
    pointer-events: none;
}
.restart-game{
    border: none;
    background-color: #830402;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.Spin{
    border: none;
    background-color: #09db13;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
